@charset "UTF-8";
.section{
	padding: em(90) 0;
}

.section--light{
	@extend .section;
	background: #0F0F0F;
	border: 1px solid #272727;
	border-width: 1px 0;
}

.section--bottom{
	@extend .section;
	background: #0F0F0F url(../images/bottom-area.jpg) center bottom no-repeat;
	//@include background-size(cover); // multiple: comma-delimited
	padding-bottom: 350px;
}

.fire-section{
	background: #0F0F0F url(../images/fire.jpg) center bottom repeat-x;
	height: 314px;
}

.first-section{
	//background: #0F0F0F url(../images/main-image.jpg) center repeat-x;
	@include background-size(cover); // multiple: comma-delimited
	//height: 100%;
	& > img{
		width: 100%;
	}
}

.section__title{
	color: #E00536;
	text-transform: uppercase;
}

.hgroup{
	@include margin-trailer(2);
	text-align: center;
	.title{
		@extend .section__title;
		margin-bottom: 0;
	}
	.subtitle{
		line-height: 1.5;
	}
}

.trailer{
	@include margin-trailer(3);
}
.rule{
	color: #232323;
}

.catalogo{

}
.catalogo__item{
	position: relative;
}
.catalogo__text{
	background: #000;
	background: rgba(#000, 0.75);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 3px;
	line-height: 1;
	font-size: 14px;
}