@charset "UTF-8";
@mixin custom-input($normal-icon, $checked-icon){
	@extend .custom-input;
	.custom-input__fake{
		@extend #{$normal-icon};
	}

	.custom-input__input:checked + .custom-input__fake{
		@extend #{$checked-icon};
	}
}

.custom-input{
	@include rem(14);
	font-weight: $bold-font;
}

.custom-input--radio{
	@include custom-input('.icon-circle', '.icon-dot-circle');
}

.custom-input__input{
	width: 0;
	height: 1px;
	position: absolute;
	overflow: hidden;
	@include opacity(0);
}
.custom-input__fake{
	@extend .icon;
	display: inline-block;
	text-shadow: $regular-shadow;
}

label{
	@include adjust-font-size-to(15px);
	font-family: $extra-font-family;
	margin-bottom: 3px;
}

#{$all-text-inputs},
textarea{
	background: #232323;
	border: 1px solid lighten(#232323, 5%);
	width: 100%;
	color: #CCCCCC;
}
#{$all-text-inputs}{
	height: 40px;
	padding: 5px;
}
#{$all-text-inputs-hover},
#{$all-text-inputs-focus},
textarea:hover,
textarea:focus{
	outline: none;
	border-color: #630116;
}