@charset "UTF-8";
.main-header{
	position: absolute;
	width: 100%;
	top: em(48);
}
.main-logo{
	font-size: 1em;
	margin-bottom: em(36);
}
.main-menu{
	@include inline-block;
	border: 2px solid white;
	border-width: 2px 0;
	& > ul{
		margin-bottom: 0;
	}
}

.main-menu__item{
	border: 2px solid white;
	border-width: 0 2px 0 0;
	&:last-child{
		border-right-width: 0;
	}
}

.main-menu__link{
	@include adjust-font-size-to(18px);
	font-family: $extra-font-family;
	text-transform: uppercase;
	display: block;
	padding: 12px 32px;
}