html,
body{
	height: 100%;
}
html{
	background: $base-background-color;
	color: $base-foreground-color;
	@media only screen and (max-width: "#{$small-screen}") {
		@include adjust-font-size-to($font-size * 1px);
	}
}
body{
	font-family: $sans-font-family;
	font-weight: $regular-font;
}

a{
	text-decoration: none;
	color: white;
}

p, li{
	@include adjust-font-size-to($font-size * 1px);
}
h1, h2, h3, h4, h5, h6, .alfa, .beta, .gamma, .delta, .epsilon, .zeta{
	font-family: $extra-font-family;
	font-weight: normal;
	@include rem(12, margin-bottom);
}

li p{
	font-size: inherit;
}

img{
	vertical-align: middle;
}
::selection {
	background: $primary-color;
	}
::-moz-selection {
	background: $primary-color;
}
