@charset "UTF-8";
@font-face {
    font-family: 'aldrich';
    src: url('fonts/aldrich-regular-webfont.eot');
    src: url('fonts/aldrich-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/aldrich-regular-webfont.woff') format('woff'),
         url('fonts/aldrich-regular-webfont.ttf') format('truetype'),
         url('fonts/aldrich-regular-webfont.svg#aldrichregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'calibri';
    src: url('fonts/calibri_bold-webfont.eot');
    src: url('fonts/calibri_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/calibri_bold-webfont.woff') format('woff'),
         url('fonts/calibri_bold-webfont.ttf') format('truetype'),
         url('fonts/calibri_bold-webfont.svg#calibribold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'calibri';
    src: url('fonts/calibri-webfont.eot');
    src: url('fonts/calibri-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/calibri-webfont.woff') format('woff'),
         url('fonts/calibri-webfont.ttf') format('truetype'),
         url('fonts/calibri-webfont.svg#calibriregular') format('svg');
    font-weight: normal;
    font-style: normal;

}