@charset "UTF-8";
//colors

$color-grey: 								#E9EFF3;
$color-grey-light:	 						#F8F8F8;
$color-grey-lighter: 						#EEEEEE;
$color-grey-lightish: 						#778087;//some texts
$color-grey-darkish: 						#323639;//texts-sidebar
$color-grey-dark: 							#222222;

$color-green: 								#31CE73;
$color-red: 								#E95748;
$color-orange: 								#F39B13;
$color-blue: 								#3598DC;
$color-yellow: 								#F1C40F;


$base-background-color: 					#000000;
$base-foreground-color: 					#FCFCFC;

$dark-area-background-color: 				$color-grey-dark;
$secondary-dark-area-background-color: 		$color-grey-darkish;
$dark-area-foreground-color: 				#ffffff;

$primary-color: 							$color-green;

$color-success: 							$color-green;
$color-danger: 								$color-red;
$color-warning: 							$color-orange;
$color-info: 								$color-blue;

$color-ui: 									$color-grey-lighter;
$colur-ui-dark: 							#DDE3E7;

$color-bet: 								$color-green;
$color-win: 								$color-orange;

$color-btn-success: 						$color-green;

$color-brand: 								$color-green;

$base-font-size: 							16px;
$base-line-height: 							24px;

$font-size: 								17;

$sans-font-family: 							'calibri', arial, helvetica, 'sans-serif';
$extra-font-family: 						'aldrich', arial, helvetica, 'sans-serif';
$icon-font-family: 							'betbox';
$light-font: 								300;
$regular-font: 								400;
$bold-font: 								700;
$regular-shadow: 							0 1px 2px rgba(black, 0.25);
$box-shadow: 								1px 1px 1px rgba(black, 0.10);

$global-radius: 							4px;
$circular-radius: 							1000px;

// Media Queries
// --------------------------------------------------

//general widths used for media queries

// Media Queries

$small-screen:                480px!default;
$medium-screen:               768px!default;
$large-screen:                1024px!default;
$extra-large-screen:          1280px!default;

$screen:                      "only screen";
$small:                       "only screen and (min-width: #{$small-screen})";
$medium:                      "only screen and (min-width: #{$medium-screen})";
$large:                       "only screen and (min-width: #{$large-screen})";
$landscape:                   "only screen and (orientation: landscape)";
$portrait:                    "only screen and (orientation: portrait)";


/*
  csswizardry grid defaults overide
  FOR THIS GRID IF YOU NEED THE GRID ITEMS HTML TO BE SPACELESS, IN HAML USING '>' AT THE END OF THE TAG
*/

$gutter:                24px!default;

$breakpoints: (
    'extra' '(min-width: #{$extra-large-screen})',
    'large' '(min-width: #{$large-screen})',
    'medium' '(min-width: #{$medium-screen})',
    'small' '(min-width: #{$small-screen})'
)!default;

$breakpoint-has-widths: ('small', 'medium', 'large', 'extra')!default;
$breakpoint-has-push:   ('small', 'medium', 'large', 'extra')!default;
$breakpoint-has-pull:   ('small', 'medium', 'large', 'extra')!default;
